@import url("chrome://global/skin/");

@import url("bindings.css");
@import url("launcher/launcher.css");

@import url("chrome://booky/skin/booky.css");

#com_sppad_booky_container:not([bookmarkCount="0"]) #com_sppad_booky_noLaunchersArea {
	display: none;
}

#com_sppad_booky_container .dropmarkerContainer {
	position:fixed;
	top: 0;
	left: 0;
	margin-bottom: -5px;
	padding: 0;
}

#com_sppad_booky_container .dropmarkerContainer > image {
	position: relative;
  	z-index: 2147483647;
}

#com_sppad_booky_launchers_overflow_button:not([overflow="true"]),
#com_sppad_booky_tooltip[hidden="true"],
#com_sppad_booky_launchers .autorepeatbutton-up,
#com_sppad_booky_launchers .autorepeatbutton-down,
#com_sppad_booky_launcher_overflow_item_template,
#TabsToolbar[com_sppad_booky_hideTabStrategy="hideAllTabs"] tab[com_sppad_booky_hasLauncher="true"],
#TabsToolbar[com_sppad_booky_hideTabStrategy="showActiveTab"] tab[com_sppad_booky_hasLauncher="true"]:not([selected="true"]),
#TabsToolbar[com_sppad_booky_hideTabStrategy="showActiveGroup"] tab[com_sppad_booky_hasLauncher="true"]:not([com_sppad_booky_activeGroup="true"]) {
	visibility: collapse !important;
}

#com_sppad_booky_launchers_overflow_button {
	z-index: 2;
}


#com_sppad_booky_launchers_overflow_decorator {
	pointer-events: none;
	margin-bottom: 2px;
}