@import url("chrome://global/skin/");

@import url("bindings.css");
@import url("launcher/launcher.css");

@import url("chrome://booky/skin/booky.css");

#com_sppad_booky_container:not([bookmarkCount="0"]) #com_sppad_booky_noLaunchersArea {
	display: none;
}

#com_sppad_booky_noLaunchersArea {
	box-shadow: 0 0px 3px 5px rgba(44, 117, 255, .8);
	
	padding: 1px 4px 1px 4px;
	margin: 5px 3px 6px 3px;
}

.quickLaunchArea {
	margin-right: 4px;
}

#com_sppad_booky_dropmarker_container,
#com_sppad_booky_dropmarker_container2 {
	position:fixed;
	top: 0;
	left: 0;
	margin-bottom: -5px;
	padding: 0;
}

#com_sppad_booky_dropmarker,
#com_sppad_booky_dropmarker2 {
	position: relative;
  	z-index: 2147483647;
  	list-style-image: url(chrome://browser/skin/tabbrowser/tabDragIndicator.png);
}

#com_sppad_booky_launchers .autorepeatbutton-up,
#com_sppad_booky_launchers .autorepeatbutton-down {
	visibility: collapse !important;
}

#TabsToolbar tab[com_sppad_booky_hasLauncher="true"] {
	display: none !important;
}

#com_sppad_booky_launchers_overflow_button:not([overflow="true"]),
#com_sppad_booky_tooltip[hidden="true"] {
	visibility: collapse;
}