@import url("chrome://global/skin/");

@import url("bindings.css");
@import url("launcher/launcher.css");

@import url("chrome://booky/skin/booky.css");

#com_sppad_booky_container:not([bookmarkCount="0"]) #com_sppad_booky_noLaunchersArea {
	display: none;
}

#com_sppad_booky_noLaunchersArea {
	box-shadow: 0 0px 3px 2px rgba(44, 117, 255, .8), 0 0 3px 1px rgba(255, 255, 255, 1);
	
	padding: 1px 4px 1px 4px;
	margin: 5px 3px 6px 3px;
}

.quickLaunchArea {
	margin-right: 4px;
}

#com_sppad_booky_dropmarker_container {
	position:fixed;
	top: 0;
	left: 0;
	margin-bottom: -5px;
	padding: 0;
}

#com_sppad_booky_dropmarker {
	position: relative;
  	z-index: 2147483647;
  	list-style-image: url(chrome://browser/skin/tabbrowser/tabDragIndicator.png);
}

#TabsToolbar tab[com_sppad_booky_hasLauncher="true"] {
	display: none !important;
}