#com_sppad_booky_preference_maxWidth,
#com_sppad_booky_preference_maxIcons,
#com_sppad_booky_preference_historyMenuDays,
#com_sppad_booky_preference_historyMenuItems {
	min-width: 3.5em;
	max-width: 3.5em;
}

prefpane groupbox > vbox:not(:last-child) {
	margin-bottom: .4em;
}