@import url("chrome://booky-platform/skin/booky.css");

.noBookmarksDragArea {
	font-style: italic;
}

.bookyToolbarMenu {
  list-style-image: url("chrome://booky/skin/booky-icon.png") !important;
}

#com_sppad_booky_launchers {
	padding-top: 2px  !important;
	padding-bottom: 2px  !important;
	margin-top: -2px !important;
	border-style: none;
	border-bottom: 0;
}

#com_sppad_booky_launchers .toolbarbutton-icon {
	-moz-margin-end: 0 !important;
}