@import url("chrome://booky-platform/skin/booky.css");

.noBookmarksDragArea {
	font-style: italic;
}

.bookyToolbarMenu {
  list-style-image: url("chrome://booky/skin/booky-icon.png") !important;
}

#tabdock-bookmarks {
	padding-top: 2px  !important;
	padding-bottom: 2px  !important;
	margin-top: -2px !important;
	margin-bottom: -2px !important;
}

#tabdock-bookmarks {
	border-style: none;
	border-bottom: 0;
}

#tabdock-bookmarks .toolbarbutton-icon {
	-moz-margin-end: 0 !important;
}
