#details {
	background-image: linear-gradient(to bottom, #F0ECE9 0%, #E3DFDC 100%);
	-moz-box-flex: 1;
	padding: 1em;
}

#content {
	-moz-box-flex: 9;
}

#sites {
	-moz-box-flex: 1;
}

#main {
	-moz-box-flex: 10;
}

#top {
	margin-bottom: 0.6em;
	height: 1.5em;
}

#launcher_icon {
	width: 1.5em;
	height: 1.5em;
}

#titleBox {
	width: 10em;
}

#searchBox {
	-moz-box-flex: 1;
	height: 1em;
}

#middle {
	-moz-box-flex: 20;
}

#bottom {
	-moz-box-flex: 2;
}

#tabs {
	-moz-box-flex: 8;
}

#bookmarks {
	-moz-box-flex: 8;
}

#history {
	-moz-box-flex: 8;
}

.dataView {
	width: 0;
	background-color: rgba(255, 255, 255, 0.5);
	
	border-width: 1px !important;;
}

.dataView:not(:last-child) {
	margin-right: .8em;
}

#titleBox,
#searchBox,
.dataView {
	border-style: solid !important;;
	border-color: rgb(104, 104, 104) !important;;
}

#titleBox,
#searchBox {
	background-color: -moz-Field;
	color: -moz-FieldText;
	
	border-width: 2px !important;;
}

#searchBox,
#titleBox {
	padding: 3px 6px 3px 4px !important;
}

#searchBox {
	margin-left: .8em !important;
}

.textList {
	-moz-box-flex: 1;

	font-size: 100%;
	background-color: transparent;
	margin-top: 0.4em !important;
	margin-right: 0.4em !important;
	margin-left: 0.4em !important;
}

listitem {
	padding: .2em;
}

#history_content .listitem-iconic image {
	padding-left: .4em;
}

.listend,
.listdivider {
	outline: none;
	background-color: transparent !important;
	pointer-events: none;
}

.listdivider label {
	padding-left: 0em;
}

.listdivider image {
	background-color: rgb(192, 192, 192);
	-moz-box-ordinal-group: 16384;
	-moz-box-flex: 16384;
	min-width: 1px;
	height: 1px;
	margin-left: .6em;
}

.listend {
	margin-top: .4em;
	font-style: italic;
	text-align: center;
	-moz-box-ordinal-group: 1;
}

.listend image {
	display: none;
}

.tabPreview[selected] {
	background-color: transparent;
}

.tabPreview  {
	outline: none;
	margin-bottom: 6px;
}

.tabPreview canvas {
	border: 4px solid transparent;
}

.tabPreview[selected] canvas {
	border: 4px solid blue;
}

.detail_domain_icon {
	min-width: 48px;
	min-height: 48px;
	max-width: 48px;
	max-height: 48px;
	background-color: blue;
	color: white;
	margin-bottom: 12px;
}


.detail_header {
	margin-top: .2em;
	font-size: 150%;
	padding-right: 0.6em;
	padding-left: 0.6em;
}

.detail_header_text {
	margin-left: .4em;
}

.detail_image {
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
}

.detail_separator {
	margin-top: 0.4em;
	margin-right: 0.6em;
	margin-left: 0.6em;
	border-top-width: 1px;
	border-bottom-width: 0;
	border-style: solid;
	border-color: rgb(160, 160, 160);
}

.detail_button,
.detail_button image {
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
	background-color: transparent;
}

.detail_button label {
	display: none;
}

.detail_button:hover {
	background: radial-gradient(circle at center, rgba(155, 191, 255, 0.9) 0%, rgba(203, 235, 255, 0.4) 60%, rgba(255, 255, 255, 0) 100%);
}

#sidepanel {
	margin-right: 1.6em;
}

#sidepanel button {
	margin-bottom: .6em !important;

	border-radius: 2px !important;
	border-style: solid !important;
	border-color: rgb(160, 160, 160) !important;
	border-width: 1px !important;
		
	background-color: rgba(255, 255, 255, 0.5);

	min-width: 48px;
	min-height: 48px;
	max-width: 48px;
	max-height: 48px;
}

#sidepanel button[disabled="true"] {
	background-color: rgba(200, 200, 200, 0.5);
}

#sidepanel button:not([disabled="true"]):hover:not(:active) {
	box-shadow: 0 0 2px 1px rgb(155, 191, 255);
	border-color: rgb(155, 191, 255) !important;
}

#sidepanel button:not([disabled="true"]):active {
	background-color: rgba(120, 120, 120, 0.4);
}
