@import url("chrome://global/skin/inContentUI.css");

@import url("chrome://booky/skin/management/details.css");

#details {
	-moz-box-flex: 1;
}

#content {
	-moz-box-flex: 9;
}

#main {
	-moz-box-flex: 10;
}

#searchBox {
	-moz-box-flex: 1;
}

#middle {
	-moz-box-flex: 20;
}

#tabs,
#history,
#bookmarks {
	-moz-box-flex: 8;
}

#top {
	margin-bottom: 0.6em;
}

#titleBox {
	width: 10em;
}

.dataView {
	width: 0;
}

#titleBox,
.dataView:not(:last-child) {
	margin-right: .8em !important;
}

#titleBox,
#searchBox {
	border-width: 2px !important;
	padding: 3px 6px 3px 4px !important;
}

.textList {
	-moz-box-flex: 1;

	margin: .4em !important;
}

treechildren::-moz-tree-row {
	font-size: 120%;
}

listitem {
	padding: .1em 0em .1em .4em;
}

treechildren::-moz-tree-image {
	margin-right: .4em;
	margin-left: -.4em;
}

.detail_header {
	font-size: 150%;
	padding: .4em .6em 0em .6em;
}

.detail_header label {
	margin-top: -2px;
}

.detail_header_text {
	margin-left: .4em;
}

.detail_separator {
	margin: .4em .6em 0em .6em;
}

.detail_image,
.detail_button,
.detail_button image {
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
}

#sidepanel {
	margin-right: 1.6em;
}

#sidepanel button {
	margin-bottom: .6em !important;

	min-width: 48px;
	min-height: 48px;
	max-width: 48px;
	max-height: 48px;
}
