@import url("chrome://booky-platform/skin/launcher/launcher.css");

launcher .launcher-connector {
	list-style-image: url("chrome://browser/skin/tabbrowser/loading.png") !important;
}

.launcher-countindicators {
	margin-top: 5px;
	margin-bottom: -2px;
}

.launcher-countindicator-one,
.launcher-countindicator-two {
	margin-left: 3px;
	margin-right: 3px;
}

launcher[unread="true"] .launcher-countindicators,
launcher[selected="true"] .launcher-countindicators,
launcher[titlechanged="true"] .launcher-countindicators {
	visibility: hidden;
}

#TabsToolbar[com_sppad_booky_grayoutInactiveIcons="true"] launcher[hasSingle="false"]:not(:hover) .launcher-icon,
#TabsToolbar[com_sppad_booky_grayoutInactiveIcons="true"] .menulauncher[hasSingle="false"]:not([_moz-menuactive="true"]) image {
	filter: url("chrome://booky/content/filters.svg#grayscale");
	opacity: .55;
}



#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab {
	background-image: linear-gradient(to top, rgba(120, 120, 120, 1) 3px, transparent 3px) !important;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab[unread],
#com_sppad_booky_launchers_overflow_decorator[unread="true"],
launcher[unread="true"] {
	background-image: linear-gradient(to top, rgba(66, 192, 32, 1) 3px, transparent 3px) !important;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab[titlechanged],
#com_sppad_booky_launchers_overflow_decorator[titlechanged="true"],
launcher[titlechanged="true"] {
	background-image: linear-gradient(to top, rgba(84, 140, 240, 1) 3px, transparent 3px) !important;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab[selected],
#com_sppad_booky_launchers_overflow_decorator[selected="true"],
launcher[selected="true"] {
	background-image: linear-gradient(to top, rgba(240, 12, 31, 1) 3px, transparent 3px) !important;
}
	
#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:not(:last-child) {
	margin-right: 4px;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabs-newtab-button,
#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab {
	border-style: none !important;
	margin-bottom: 2px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 2px;
	border-radius: 0px;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabs-newtab-button {
	background-image: none !important;
	margin-left: 4px;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:not([selected]) .tab-text {
	opacity: 0.8;
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:hover,
#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabs-newtab-button:hover {
	background-color: rgba(120, 120, 120, .07);
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:-moz-lwtheme-darktext {
	background-color: rgba(0, 0, 0, .03);
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:hover:-moz-lwtheme-darktext,
#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabs-newtab-button:hover:-moz-lwtheme-darktext {
	background-color: rgba(0, 0, 0, .1);
}
	
	
#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:-moz-lwtheme-brighttext {
	background-color: rgba(255, 255, 255, .03);
}

#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabbrowser-tab:hover:-moz-lwtheme-brighttext,
#TabsToolbar[com_sppad_booky_styleTabs="true"] .tabs-newtab-button:hover:-moz-lwtheme-brighttext {
	background-color: rgba(255, 255, 255, .1);
}




	
.com_sppad_booky_tab > .menu-iconic-left,
.menulauncher > .menu-iconic-left {
	padding-left: 8px !important;
}

.com_sppad_booky_tab[unread="true"] > .menu-iconic-left,
.menulauncher[unread="true"] > .menu-iconic-left {
	background-image: linear-gradient(to right, rgba(11, 205, 5, 1) 3px, transparent 3px);
}

.com_sppad_booky_tab[titlechanged="true"] > .menu-iconic-left,
.menulauncher[titlechanged="true"] > .menu-iconic-left{
	background-image: linear-gradient(to right, rgba(84, 140, 240, 1) 3px, transparent 3px);
}	

.com_sppad_booky_tab[selected="true"] > .menu-iconic-left,
.menulauncher[selected="true"] > .menu-iconic-left {
	background-image: linear-gradient(to right, rgba(224, 12, 0, 1) 3px, transparent 3px);
}				