@import url("chrome://booky-platform/skin/launcher/launcher.css");

launcher .launcher-connector {
	list-style-image: url("chrome://browser/skin/tabbrowser/loading.png") !important;
}

.launcher-countindicators {
	margin-top: 5px;
	margin-bottom: -2px;
}

.launcher-countindicator-one,
.launcher-countindicator-two {
	margin-left: 3px;
	margin-right: 3px;
}

launcher[unread="true"] .launcher-countindicators,
launcher[selected="true"] .launcher-countindicators,
launcher[titlechanged="true"] .launcher-countindicators {
	visibility: hidden;
}

#com_sppad_booky_launchers_overflow_decorator[unread="true"],
launcher[unread="true"] {
	background-image: linear-gradient(to top, rgba(11, 205, 5, 1) 3px, rgba(11, 205, 5, 0) 3px);
}

#com_sppad_booky_launchers_overflow_decorator[titlechanged="true"],
launcher[titlechanged="true"] {
	background-image: linear-gradient(to top, rgba(84, 140, 240, 1) 3px, rgba(84, 140, 240, 0) 3px);
}

#com_sppad_booky_launchers_overflow_decorator[selected="true"],
launcher[selected="true"] {
	background-image: linear-gradient(to top, rgba(224, 192, 0, 1) 3px, rgba(224, 192, 0, 0) 3px);
}
	
.com_sppad_booky_tab > .menu-iconic-left,
.menulauncher > .menu-iconic-left {
	padding-left: 8px !important;
}

.com_sppad_booky_tab[unread="true"] > .menu-iconic-left,
.menulauncher[unread="true"] > .menu-iconic-left {
	background-image: linear-gradient(to right, rgba(11, 205, 5, 1) 3px, rgba(11, 205, 5, 0) 4px);
}

.com_sppad_booky_tab[titlechanged="true"] > .menu-iconic-left,
.menulauncher[titlechanged="true"] > .menu-iconic-left{
	background-image: linear-gradient(to right, rgba(84, 140, 240, 1) 3px, rgba(84, 140, 240, 0) 4px);
}	

.com_sppad_booky_tab[selected="true"] > .menu-iconic-left,
.menulauncher[selected="true"] > .menu-iconic-left {
	background-image: linear-gradient(to right, rgba(224, 192, 0, 1) 3px, rgba(224, 192, 0, 0) 4px);
}				