@import url("chrome://booky/skin/launcher/launcher.css");


launcher .launcher-connector,
launcher .launcher-icon {
	width: 16px;
	height: 16px;
}

launcher[busy="false"] .launcher-connector,
launcher[busy="true"] .launcher-icon {
	display: none;
}

#TabsToolbar[com_sppad_booky_grayoutInactiveIcons="true"] launcher[hasSingle="false"]:not(:hover) .launcher-icon,
#TabsToolbar[com_sppad_booky_grayoutInactiveIcons="true"] .menulauncher[hasSingle="false"]:not([_moz-menuactive="true"]) image {
	filter: url("chrome://booky/content/filters.svg#grayscale");
	opacity: .55;
}

launcher .launcher-countindicator-two, 
launcher .launcher-countindicator-one {
	outline: solid 2px;
}

launcher[hasSingle="false"] .launcher-countindicator-one,
launcher[hasMultiple="false"] .launcher-countindicator-two {
	display: none;
}

launcher .tabdock-item > label {
	display: none;
}

launcher[overflow="true"] {
	visibility: collapse;
}

.launcher_menupopup_bookmarks > * {
	-moz-box-ordinal-group: 2;
}

.launcher_menupopup_bookmarks > menuitem[bookmark] {
	-moz-box-ordinal-group: 1;
}


#TabsToolbar[com_sppad_booky_hideLauncherStrategy="groupOpenTabs"] launcher[hasSingle="true"] {
	-moz-box-ordinal-group: 1;
}

#TabsToolbar[com_sppad_booky_hideLauncherStrategy="groupOpenTabs"] launcher[hasSingle="false"] {
	-moz-box-ordinal-group: 2;
}

#TabsToolbar[com_sppad_booky_hideLauncherStrategy="noOpenTabs"] launcher[hasSingle="false"] {
	visibility: collapse;
}

#TabsToolbar[com_sppad_booky_hideLauncherStrategy="overflowOnly"] .menulauncher[overflow="false"],
#TabsToolbar[com_sppad_booky_hideLauncherStrategy="noOpenTabs"] .menulauncher[overflow="false"][hasSingle="true"] {
	display: none;
}