@import url("chrome://booky/skin/launcher/launcher.css");

launcher .tabgroup-connector {
	list-style-image: url("chrome://browser/skin/tabbrowser/loading.png") !important;
}

launcher .tabgroup-connector,
launcher .tabgroup-icon {
	width: 16px;
	height: 16px;
}

launcher[busy="false"] .tabgroup-connector,
launcher[busy="true"] .tabgroup-icon {
	display: none;
}

launcher[hasSingle="false"]:not(:hover) .tabgroup-icon {
	filter: url("chrome://booky/content/filters.svg#grayscale");
	opacity: .45;
}

launcher .tabgroup-countindicators {
	display: none;
}

launcher .tabgroup-countindicator-two, 
launcher .tabgroup-countindicator-one {
	outline: solid 2px;
}

launcher[hasSingle="false"] .tabgroup-countindicator-one,
launcher[hasMultiple="false"] .tabgroup-countindicator-two {
	display: none;
}

launcher .tabdock-item > label {
	display: none;
}

launcher .launcher {
	-moz-box-orient: vertical;
}

launcher[titleChanged="true"] .launcherWrapper,
launcher[selected="true"] .launcherWrapper {
	border-width: 1px;
	border-style: solid;
	margin-right: -1px;
	border-radius: 6px 6px 0 0;
	border-bottom: none;
}

launcher[titleChanged="true"]:last-child .launcherWrapper,
launcher[selected="true"]:last-child .launcherWrapper {
	margin-right: 0px;
}


launcher[selected="true"] .launcherWrapper {
	background-image: -moz-linear-gradient(bottom, rgba(192, 160, 0, 1.0) 3%, rgba(192, 160, 0, .9) 8%, rgba(190, 160, 0, .8) 10%, rgba(190, 160, 0, .6) 100%);
}

launcher[titleChanged="true"] .launcherWrapper {
	background-image: -moz-linear-gradient(bottom, rgba(84, 140, 224, 1.0) 3%, rgba(84, 140, 224, .9) 8%, rgba(84, 140, 224, .8) 10%, rgba(84, 140, 224, .6) 100%);
}