@import url("chrome://booky/skin/launcher/launcher.css");


launcher .launcher-connector,
launcher .launcher-icon {
	width: 16px;
	height: 16px;
}

launcher[busy="false"] .launcher-connector,
launcher[busy="true"] .launcher-icon {
	display: none;
}

launcher .launcher-countindicator-two, 
launcher .launcher-countindicator-one {
	outline: solid 2px;
}

launcher[hasSingle="false"] .launcher-countindicator-one,
launcher[hasMultiple="false"] .launcher-countindicator-two {
	display: none;
}

launcher .tabdock-item > label {
	display: none;
}

#TabsToolbar[com_sppad_booky_hideLauncherStrategy="groupOpenTabs"] .menulauncher:not([hasSingle="true"]),
.launcher_menupopup_bookmarks > * {
	-moz-box-ordinal-group: 22147483647;
}

.launcher_menupopup_bookmarks > menuitem[bookmark] {
	-moz-box-ordinal-group: 1;
}

launcher[overflow="true"] {
	visibility: collapse;
}

.menulauncher[overflow="false"] {
	display: none;
}


launcher[empty="true"] .launcherMenu > :-moz-any(menu, menuitem):not(.launcher_empty_menuitem),
launcher[empty="false"] .launcherMenu > .launcher_empty_menuitem,
.menulauncher[empty="true"] .launcherMenu > :-moz-any(menu, menuitem):not(.launcher_empty_menuitem),
.menulauncher[empty="false"] .launcherMenu > .launcher_empty_menuitem {
	visibility: collapse;
}
