#launcherPickerBackground {
	background-color: rgba(0, 0, 0, .7);
}

.launcherPickerBox {
	border-color: rgb(120, 120, 120);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	
	margin-left: 16px;
	margin-right: 16px;
	
	background-color: rgb(245, 244, 242);
}

.launcherPickerBox image {
	width: 16px;
	height: 16px;
}

.launcherPickerBox button {
	background-color: rgb(245, 244, 242);
}

.launcherPickerBox button:hover {
	background-color: rgb(230, 230, 230);
}

.launcherPickerBox button:active {
	background-color: rgb(170, 170, 170);
}

#launcherPicker button[selected]:not(:active) {
	background-color: rgb(155, 188, 221);
}

#launcherPicker button[selected]:hover:not(:active) {
	background-color: rgb(135, 168, 201);
}


#launcherPicker button {
	height: 2.5em;
	width: 4em;
	min-width: 4em;
	max-width: 4em;
}

#launcherPickerControl button {
	height: 2em;
}

#launcherPickerControl {
	margin-top: 1.5em;
}

#launcherPickerControl button image {
	display: none;
}

#launcherPickerControl .separator {
	margin-top: 20%;
	margin-bottom: 20%;
	width: 1px;
	background-color: rgb(180, 180, 180);
}